.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.text {
  padding-top: 55px;
  margin: auto;
  width: 480px;
  margin-left: 50px;
}

.upper-block {
  display: flex;
}

.pretitle {
  font-size: 16px;
  padding-left: 84px;
  color: $blue;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: $blue;
    transform: translate(-84px, 13px);
  }
}

.horizontal-line {
  margin: 30px 0 25px 0;
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 50%;
}

.titlemain {
  text-align: left;
  margin: 20px 0 60px 0;
}

.about__text {
  font-family: "roboto" serif;
  font-weight: 300;
  font-size: 21px;
  color: #ababab;
}

.solobtn {
  margin-top: 50px;
}

.center {
  padding-top: 70px;
  margin: auto;
}

.quickstart {
  padding-top: 100px;
}

.titles {
  width: 400px;
  margin: auto;
  padding-bottom: 90px;

  .pretitle {
    padding-left: 190px;
  }
}

.stages__container {
  max-width: 900px;
  margin: auto;
}

.stages__text {
  font-family: "roboto" serif;
  font-size: 21px;
  color: #f1f1f1;
  line-height: 32px;
  text-align: center;
  margin-top: 10px;
}

.line {
  display: block;
  width: 60px;
  height: 1px;

  transform: translate(-40px, -30px);
  background-color: $blue;
}

.subscribes {
  padding-top: 70px;
  padding-bottom: 120px;
}

.price {
  justify-content: center;
  margin: auto;
  padding-bottom: 40px;
}

.sub__block {
  margin: 0 10px 10px 0;
  width: 31% !important;
  min-width: 280px;

  height: 480px;
  background-color: #1f2631;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out;
}

.sub__box {
  padding: 40px;
}

.sub__title {
  font-family: "roboto" serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 15px;
  transition: color 0.15s ease-in-out;
}

.sub__cost {
  font-family: "roboto" serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 21px;
  transition: color 0.15s ease-in-out;
}

.sub__about {
  font-family: "roboto" serif;
  font-weight: 300;
  font-size: 21px;
  color: #ababab;
  margin-bottom: 50px;
  transition: color 0.15s ease-in-out;
}

.sub__btn {
  cursor: pointer;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  font-family: Aire;
  font-size: 24px;
  background-color: $blue;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  color: #141c24 !important;
}

.active {
  background-color: $blue;

  .sub__title {
    color: #141c24 ;
  }

  .sub__cost {
    color: #141c24;
  }

  .sub__about {
    color: #000;
  }

  .sub__btn {
    background-color: #141c24;
    color: #f1f8ff !important;
  }
}

.center-line {
  border-bottom: 1px solid #00c5ff;
  width: 600px;
  margin: 0 auto;
  align-items: center;
}

.mobile__menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 20px;

  background: $bgc;
}

.mobile__logo {
  justify-content: center;
  margin-bottom: 70px;
}

.mobile__link {
  padding-bottom: 35px;
}

.list {
  text-align: center;
}

.contacts {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.back__button {
  text-align: center;
  margin-top: 20px;
  bottom: 0;
}
